<!DOCTYPE html>
<html>
    
    <!______head_______>
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Calvary Church, A place to belong">
	  <meta name="keywords" content="Calvary Church, Church">
  	<meta name="author" content="Ben Dostie">
    <title>Benjamin | Projects</title>
     <link rel="stylesheet" href="/static/style.css">
   
    
  </head>
    
    <body>
        <header>
            
            <!___________logo_____________>
            
            <div class="container">
                <div id="logo">
                    
                    
                </div>
                
                
                <!________desktop menu___________>
                
                
                <nav class="desktop">
                    
                        <div class="home" class="home"><a href="/index">Home</a></div>
                    
                        
                        <div class="current"><a href="/quad">Projects</a></div>
                        
                    
                      
                    
                        <div class="about"><a href="https://github.com/bendostie/QuadMonitor.git">Github</a></div>
                        
                        

                    
                </nav>
                
                
                <!__________mobile menu__________>
                
                
                <nav class="mobile">
                    <input type="checkbox" class="nav-button" id="nav-button" />
                     <label for="nav-button"></label>
                    
                    <ul class="mobile-nav">
                        <li class="nav-option"><a href="/index">Home</a></li>
                        <li class="nav-option"><a href="/quad">Quad</a></li>
                        <li class="nav-option"><a href="https://github.com/bendostie/QuadMonitor.git">Github</a></li>
                        

                     </ul>  
                </nav>
                
            </div>   
        </header> 
        
        
        <!_________________________>
        
        
    <section id="picture">
    
    </section>
        <div class="sec projects"> <p>Projects</p></div>
        

    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="/static/images/moist.png" >
          <h3>Soil Moisture</h3>
          <p>See if the quad is playable</p>
        </div>
        <div class="box">
          <img src="/static/images/temp.png">
          <h3>Air Temperature</h3>
          
        </div>
        <div class="box">
          <img src="/static/images/humid.png">
          <h3>Humidity</h3>
          
        </div>
      </div>
    </section>
   

    <footer>
      <p>Ben Dostie 2019</p>
    </footer>

        
        
       

  </body>
</html>
<!Code snippets taken from: a pen created by Austin Wulf for Bright Robot. http://www.austinwulf.com http://www.thatbrightrobot.com retrieved 2018 >
